section {
  animation: route 300ms cubic-bezier(.21,.64,.45,1.02);
  transform: translateX(0%);
}

@keyframes route {
  from {
    transform: translateX(15px);
  }
  to {
    transform: translateX(0%);
  }
}

// loading
.loading {
  width: 64px;
  height: 64px;
}
.loading:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid theme('colors.primary');
  border-color: theme('colors.primary') transparent theme('colors.primary') transparent;
  animation: loading 1.2s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}
