<section>
  <div class="grid lg:grid-cols-[2fr_1fr] gap-8 max-w-7xl mx-auto">
    <div>
      <h1 class="text-5xl md:text-7xl text-primary font-bold mb-4">Checkout</h1>
      <div class="h-0 border-2 border-base-300 rounded-full mb-6 md:mb-8"></div>
      
      @if (cart() && cart().items.length) {
        <div class="grid gap-4 border-2 border-base-300 border-dashed p-4">
          <h1 class="font-bold text-lg">
            <span class="float-right font-normal">Total {{ cart().quantity }} items</span>
            <span>Shopping Cart</span>
          </h1>
          @for (item of cart().items; track item.price) {
            <div class="bg-white flex flex-col md:flex-row justify-between items-center gap-4 p-4">
              <div class="flex gap-4">
                <div class="w-16">
                  <img [src]="item.product.photoURL" alt="product_img">
                </div>
                <div>
                  <h1 class="text-lg">{{ item.product.name }}</h1>
                  <p class="truncate w-[20ch] md:w-[30ch]">{{ item.product.description }}</p>
                </div>
              </div>
              <div class="flex justify-between md:justify-start gap-6">
                <div class="bg-base-200 w-fit px-3 py-1 rounded-full">{{ '$ ' + item.product.price.toFixed(2) }}</div>
                <div class="flex justify-center items-center gap-4">
                  <span class="border-slate-200 hover:bg-slate-100 border-2 px-3 py-1 cursor-pointer" (click)="removeProduct(item.product)">-</span>
                  <span class="border-slate-200 bg-slate-100 border-2 w-12 py-1 text-center">{{ item.quantity }}</span>
                  <span class="border-slate-200 hover:bg-slate-100 border-2 px-3 py-1 cursor-pointer" (click)="addProduct(item.product)">+</span>
                </div>
              </div>
            </div>
          }
        </div>
      }
      @else {
        <p>Cart is empty!</p>
        <a routerLink="/products" class="text-primary hover:underline">Browse products</a>
      }
    </div>

    @if (cart() && cart().items.length) {
      <div class="grid gap-4 bg-base-100 p-6 h-fit mb-6 sticky top-20">
        <h1 class="text-xl font-bold">Order Summary</h1>
        <div class="flex justify-between items-center gap-4">
          <span>Your subtotal</span>
          <span>$ {{ cart().subtotal.toFixed(2) }}</span>
        </div>
        <div class="flex justify-between items-center gap-4">
          <span>Taxes (13%)</span>
          <span>$ {{ (cart().subtotal * TAX).toFixed(2) }}</span>
        </div>
        <div class="flex justify-between items-center gap-4">
          <span>Estimated shipping</span>
          <span class="font-bold text-green-500">FREE</span>
        </div>
        <div class="border-[1px] border-base-300"></div>
        <div class="flex justify-between items-center gap-4 font-bold">
          <span>Total Cost</span>
          <span>$ {{ cart().total.toFixed(2) }}</span>
        </div>
        <button routerLink="/place-order" class="w-full bg-primary text-white py-3">
          <span>Continue to payment</span>
        </button>
      </div>
    }
  </div>
</section>


<!-- <div class="grid gap-2">
  <label class="select-none" for="email">Enter full name</label>
  <input type="email" name="email" placeholder="john.wick@example.com"
    class="custom-shadow px-5 py-3 rounded placeholder:text-primary placeholder:opacity-40 placeholder:select-none">
</div>
<div class="grid gap-2">
  <label class="select-none" for="email">Enter email</label>
  <input type="email" name="email" placeholder="john.wick@example.com"
    class="custom-shadow px-5 py-3 rounded placeholder:text-primary placeholder:opacity-40 placeholder:select-none">
</div>
<div class="pt-4">
  <button class="bg-primary text-white py-3 w-full rounded-full">
    <span>Continue</span>
    <i class="fa-solid fa-chevron-right"></i>
  </button>
</div> -->
