<section>
	<div class="text-5xl md:text-7xl mb-4 font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-stone-700 to-primary">
		<span>About EShopStyle</span>
	</div>
  <div class="h-0 border-2 border-base-300 rounded-full mb-6 md:mb-8"></div>

	<p class="text-xl mb-6 max-w-[80ch]">
		EShopeStyle is a web application developed with 
		<a class="hover:underline text-primary" href="https://angular.io" rel="noopener" rel="noreferrer" target="_blank">Angular</a>, 
		<a class="hover:underline text-primary" href="https://ngxs.io" rel="noopener" rel="noreferrer" target="_blank">NGXS</a> and 
		<a class="hover:underline text-primary" href="https://firebase.google.com" rel="noopener" rel="noreferrer" target="_blank">Firebase</a>
		by <a class="hover:underline text-primary" href="https://panesar.dev" rel="noopener" rel="noreferrer" target="_blank">Sukhpreet Singh</a>.
	</p>

	<p class="text-xl max-w-[80ch]">
		This is just a demo application to show cart functionality and overall working of an E-Commerce application. Please do not use any sensitive information in this application. 
	</p>
</section>