@if (product(); as product) {
  <section>
    <div class="grid md:grid-cols-[2fr_3fr] gap-6 md:gap-12 max-w-6xl mx-auto">
      <div class="bg-base-300 p-6 md:p-20">
        <img [src]="product.photoURL" [alt]="product.name">
      </div>
      <div>
        <div class="text-5xl md:text-7xl mb-4 font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-stone-700 to-primary">
          <span>{{ product.name }}</span>
        </div>
        <div class="h-0 border-2 border-base-300 rounded-full mb-6 md:mb-8"></div>
        <div class="flex gap-6 mb-6">
          <span class="bg-base-100 text-primary px-6 py-2 rounded-full custom-shadow">$ {{ product.price }}</span>
          <span class="bg-base-100 text-primary px-6 py-2 rounded-full custom-shadow">{{ product.category }}</span>
        </div>
        <p class="md:text-xl mb-10">{{ product.description }}</p>
        <div class="flex items-center gap-6 md:gap-8">
          <button (click)="addToCart(product)" class="bg-primary text-white px-8 py-3 rounded-full">Add to cart</button>
          @if (isProductSaved()) {
            <button (click)="removeSavedProduct(product)" class="border-2 border-red-500 bg-red-100 text-red-500 px-8 py-3 rounded-full">Remove saved</button>
          }
          @else {
            <button (click)="saveProduct(product)" class="bg-primary text-white px-8 py-3 rounded-full">Save</button>
          }
        </div>
      </div>
    </div>
  </section>
}
@else {
  <div class="flex justify-center items center h-96">
    <div class="loading"></div>
  </div>
}