<footer class="grid place-content-center gap-3 h-80">
  <div class="flex justify-center gap-6">
    <a class="text-primary hover:underline" routerLink="/">Home</a>
    <a class="text-primary hover:underline" routerLink="/privacy">Privacy</a>
    <a class="text-primary hover:underline" routerLink="/about">About</a>
    <a class="text-primary hover:underline" routerLink="/products">Products</a>
  </div>
  <div></div>
  <p class="text-center">© 2024 {{ brand }}, Inc. All rights reserved.</p>
  <p class="text-center">Developed by <a class="text-primary hover:underline" target="_blank" rel="noopener" rel="noreferrer" href="https://panesar.dev">Sukhpreet Singh</a></p>
</footer>